doctype html
html
    head
        title 注册页面
        meta(charset='utf-8')
    body
        div
            form(action="/user/zhuce" method="post")
                input(name="name")
                <br>
                input(type="password" name="password")
                <br>
                input(type="submit" value="注册")



